* {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  background: #100e1d;
  margin: 0;
  height: 100%;
}

.left-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  width: 30%;
  min-height: 100vh;
  background-color: #1e213a;
}

.weather-title-container {
  display: flex;
  justify-content: center;
  padding: 2rem 2rem 0 2rem;
}

.current-weather-title {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  /* margin: 0 auto 0 auto; */
}

.search-btn-container {
  padding: 40px 0 40px 0;
  gap: 10px;
  display: flex;
  justify-content: space-around;
}

.search-btn {
  color: #fff;
  background-color: #6b737b;
  padding: 10px 17px 10px 17px;
  text-align: center;
  cursor: pointer;
}

.crosshair-btn {
  background-color: #6b737b;
  color: #fff;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 1px;
  cursor: pointer;
}

.today-iconContainer {
  text-align: center;
}

.today-iconContainer img {
  width: 200px;
  height: 200px;
}

.today-infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p.todayTempValue {
  color: #fff;
  font-size: 5rem;
}

p.todayTempValue span {
  font-weight: 500;
  color: #a4a1ae;
}

p.today-main-weather {
  color: #a4a1ae;
  font-size: 2rem;
  margin: 3rem 0 50px 0;
}

p.today-date {
  color: #a4a1ae;
  /* margin-top: 80px; */
}

p.today-city {
  display: flex;
  text-align: center;
  gap: 0.6rem;
  color: #a4a1ae;
  padding: 40px;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 88%;
  min-height: 100vh;
}

.right-container .first-row {
  display: flex;
  width: 100%;
  padding: 1rem;
  flex-wrap: nowrap;
  justify-content: right;
  gap: 10px;
}

img.icon-img {
  display: block;
  width: 50%;
}

.fahrenheit-btn,
.celsius-btn {
  background-color: #695e84;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  height: 35px;
  width: 35px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.currentUnit {
  background-color: #fff;
  color: #000;
}

.right-container .second-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.day {
  display: flex;
  flex-direction: column;
  background-color: #1e213a;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 15px 10px 15px 10px;
  min-width: 120px;
  width: auto;
  height: auto;
}

.max-temp,
.min-temp,
.max-temp-fahrenheit,
.min-temp-fahrenheit {
  display: inline-block;
  color: #fff;
  padding: 5px 5px 5px 5px;
}

/* HIGHLIGHTS */

.right-container .third-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.hightlights-title-container {
  display: flex;
  position: relative;
  left: -17%;
  justify-content: left;
}

.hightlights-title {
  margin: 0;
  padding: 3rem 0 0 0;
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}

.hightlights-cards-container {
  display: flex;
  justify-content: center;
  width: 70%;
  flex-wrap: wrap;
  gap: 2rem;
}

.third-row .hightlights-card {
  background-color: #1e213a;
  text-align: center;
  color: #a4a1ae;
  width: 40%;
  height: auto;
  padding: 1rem;
}

.third-row .visibility,
.third-row .pressure {
  height: auto;
  padding: 5px 0 35px 0;
}

.hightlights-card p {
  padding: 15px 15px 5px;
}

p.wind-value {
  margin-block-start: 0;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
}

p span {
  font-weight: 400;
  font-size: 2rem;
}

.arrow-icon {
  display: inline-flex;
  background-color: #707591;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  /* transform: rotate(calc(160deg - 40deg)); */
}

p.wind-dir-abb {
  display: inline-block;
  margin: 0;
  padding: 10px;
}

.above-humidityBar {
  display: flex;
  justify-content: space-between;
}

.below-humidityBar {
  display: flex;
  justify-content: right;
}

.above-humidityBar p,
.below-humidityBar p {
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.fourth-row {
  display: flex;
  align-items: center;
  color: #fff;
}

.fourth-row p {
  padding: 40px;
}

.hidden {
  display: none;
}
